@{
    ViewData["Title"] = "About Technical Sports One";
}
<h1>@ViewData["Title"]</h1>

<table style="width:85%; margin-left:7.5%; margin-right:7.5%">

    <tr>
        <td style="width:60%">
            <br>
            <address>
                <b>
                    Technical Sports One LLC<br>
                    Leonard Mellgren<br>
                    9920 Prospect Ave #107<br>
                    Santee, CA 92071-4349<br>
                </b>
            </address>
            <br>
            Please contact us if you have any questions, comments, suggestions or would like to place an order.<br>
            <br>
            <b>Hours of operation (Pacific Time):</b><br>
            <br>
            Tuesday, Thursday, 1pm to 5pm<br>
            Saturday, 11am to 3pm<br>
            <br>
            <b>E-Mail:  <a href="mailto:sales@tso.us.com">sales@tso.us.com</a></b><br>
            <br>
            <b>Telephone:</b><br>
            <br>
            619-258-0125 office<br>
            760-716-9113 cell<br>
            619-258-1450 fax<br>
            <br>
        </td>
        <td style="width:40%; text-align:center; vertical-align:top">
            <br>
            <br>
            <br>
            <br>
            <br>
        </td>
    </tr>
</table>
