@{
    ViewData["Title"] = "Copyright & Trademarks";
}
<h1>@ViewData["Title"]</h1>

<div>
    <table style="width:90%; margin-left:5%; margin-right:5%">
        <tbody>
            <tr>
                <td>
                    <br>
                    <h2 style="color:#0000ff">Copyrights and Trademarks of Others</h2>
                    <p>This web-site contains logos, drawings, photographs, diagrams, information, company names and product names that are the copyrighted property and/or trademarks of others. Rather than place a copyright or trademark symbol in every occurrence of copyrighted items or trademarked names, we hereby state that we are using the copyrighted items and trademarked names in an editorial fashion only, to the benefit of the copyright / trademark owner, with no intention of copyright or trademark infringement.</p>
                    <br>
                    <h2 style="color:#0000ff">Unsolicited Photographs</h2>
                    <p>Unsolicited photos sent to us become the property of Technical Sports One LLC.</p>
                    <br>
                </td>
            </tr>
        </tbody>
    </table>
</div>
