@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div>
    <table style="width:90%; margin-left:5%; margin-right:5%">
        <tbody>
            <tr>
                <td>
                    <br>
                    <h2 style="color:#0000ff">Introduction</h2>
                    <p>Technical Sports One respects user privacy on our web sites. This privacy statement is designed to provide information about the privacy and data collection practices for the site owned and operated by Technical Sports One LLC (The "Site").</p>
                    <br>
                    <h2 style="color:#0000ff">Identifying Information</h2>
                    <p>In general, you can visit the Site without telling us who you are or providing any information about yourself. In some areas of the Site, we ask you to provide information that will enable us to support our relationship with you, such as to process an order, offer services, or follow up with you. You will find that Technical Sports One asks for identifying information when you: </p>
                    <ol style="padding-bottom:0.5em; padding-top:0.5em">
                        <li style="margin-left:2em">Register on our web site.</li>
                        <li style="margin-left:2em">Place an order..</li>
                        <li style="margin-left:2em">Tell us about a suggestion or give us feedback..</li>
                        <li style="margin-left:2em">Participate in a rebate program, sweepstakes, or other promotional offer.</li>
                        <li style="margin-left:2em">Register to receive mailings, product catalog, or e-mail notification about product availability.</li>
                        <li style="margin-left:2em">Register a Technical Sports One product.</li>
                    </ol>
                    <p>In these instances, Technical Sports One may ask for your name, address, postal code, e-mail address, phone number or other appropriate information needed to provide you with the requested services. In all instances, it will be clear to you that you are submitting this type of information. In addition, if you choose to receive a newsletter or other mailing from us, you will always be able to "unsubscribe" to these mailings as described in the Opting-Out section below.</p>
                    <br>
                    <h2 style="color:#0000ff">What Technical Sports One Will Do With Your Information</h2>
                    <p>If you choose to give us personal information for any of the purposes  above, this information is retained by Technical Sports One and is used  by Technical Sports One only to support your customer relationship with  us. For example, we may send you a mailed announcement of product  upgrades, special offers, or other new products and services from  Technical Sports One. Technical Sports One does not disclose your personal  information to third parties without your consent unless  we  are obligated to provide it under law such as in response to a request  from law enforcement officials.</p>
                    <br>
                    <h2 style="color:#0000ff">Opting Out</h2>
                    <p>Technical Sports One provides several easy means for you to tell us you do not wish to continue to receive e-mails. If you do not want to receive any information about products or services, you can simply tell us at the time you give us your personal information by checking the appropriate box. You will also be able to respond to any e-mail you receive from Technical Sports One  by replying to the "unsubscribe" information included with each mailing. You can also advise us of the same at any time by letter to the contact address on out site.</p>
                    <br>
                    <h2 style="color:#0000ff">Collecting Aggregate Data and Cookies</h2>
                    <p>Like many web sites, Technical Sports One collects non-personal data about how the site is being viewed. Most non-personal data is collected via cookies or other analysis technologies. The Site includes analysis features which enable Technical Sports One to capture aggregate data about how the site is used, such as amount of total traffic, number of page views and number of unique visitors. This feature does not capture personal identifying information about any visitors to the Site. Technical Sports One reviews this data and uses it only for internal purposes of assessing and managing the Site. We use cookies to store visitors preferences, record session information, such as items that consumers add to their shopping cart, record user-specific information on what pages users access or visit, alert visitors to new areas that we think might be of interest to them when they return to our site, record past activity at the site in order to provide better service when visitors return to our site and to make the user experience less cumbersome. A "cookie" is a small data file transferred by a website to your computer&apos;s hard drive. Accepting the cookies used on our site does not give us access to your personal information, but we may use the cookies to identify your computer.</p>
                    <br>
                    <h2 style="color:#0000ff">Third Party Links</h2>
                    <p>The Site provides links to other sites. Other Internet sites and services have their own privacy and data collection practices. Please note that once you click on one of these sites, you leave the Technical Sports One Site and Technical Sports One has no control or responsibility for the privacy policies or data collection activities at another site. We encourage you to read the privacy statements at those sites as you visit them.<br></p>
                    <br>
                    <h2 style="color:#0000ff">Changes to this Policy</h2>
                    <p>Technical Sports One may from time to time revise its privacy policy. We will not, however, use your existing information in a manner not previously disclosed. You will be advised and have the opportunity to opt out of any new use of your information.</p>
                    <br>
                    <h2 style="color:#0000ff">Contacting Us</h2>
                    <p>If you have any questions about our privacy policy, practices of the Site, or your dealings with the Site, you can write to: Technical Sports One LLC at <a href="mailto:sales@tso.us.com">sales@tso.us.com</a></p>
                    <br>
                </td>
            </tr>
        </tbody>
    </table>
</div>

