@{
    ViewData["Title"] = "Terms of Sale";
}
<h1>@ViewData["Title"]</h1>

<div>
    <table style="width:90%; margin-left:5%; margin-right:5%">
        <tbody>
            <tr>
                <td>
                    <br>
                    <p>All products and/or services are provided for CLOSED COURSE COMPETITION USE ONLY. Therefore, all products and/or services are provided without warranty of any kind; Technical Sports One disclaims all responsibility for consequential and incidental damages or any other loss arising from the use of any products and/or service provided by Technical Sports One and/or it’s vendors, suppliers, contractors, etc. irrespective of how caused. Use of products/services provided by Technical Sports One constitutes acceptance of ALL of Technical Sports One's Terms and Conditions.</p>
                    <br>
                    <p>Technical Sports One provides part numbers as a courtesy; it is the customer's responsibility to confirm all part numbers before placing orders. Technical Sports One will NOT accept returns of incorrectly ordered items.</p>
                    <br>
                    <p>Technical Sports One MUST be notified of any incorrectly shipped items within 3 days of receipt.  Items MUST be returned for exchange in the original unopened packages within 14 days. A return authorization number will be issued at the time Technical Sports One is notified of shipping error. NO returns will be accepted without prior authorization.</p>
                    <br>
                    <p>Special Orders, orders shipping outside of North American and orders totaling $200.00 or more must be paid for at the time the order is placed. Any item not normally stocked is considered "Special Order". Orders for Special Order items cannot be canceled after 24 hours.</p>
                    <br>
                    <p>All domestic orders ship via United States Postal Service Priority Mail, unless otherwise requested. International orders, including Canada, ship via United States Postal Service Priority Mail Service, unless otherwise requested. Shipping, shipping insurance and COD charges are NOT included in prices listed on this web-site, and, unless listed as a separate item, are NOT included in written quotes.</p>
                    <br>
                    <p>All shippepd items are insured for actual value, see <a href="shipping-info.asp">Shipping Information</a> page for further information and limitations.</p>
                    <br>
                    <p>Many prices listed on this web-site are based on foreign currency exchange rates and are affected by fluctuations in these exchange rates; therefore prices are subject to change without notice.</p>
                    <br>
                    <p><b>Customers located outside the United States and Canada, please see <a href="terms-ap.asp">Terms - Additional Policies.</a></b></p>
                    <br>
                    <p style="padding-bottom:1em">You may contact us by email at <a style="color: blue; text-decoration: underline" href="mailto:sales@tso.us.com">sales@tso.us.com</a>, or by telephone at (619) 258-0125.</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
